<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plain</key>
	<dict>
		<key>notes</key>
		<dict>
			<key>footer</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>18</integer>
				<key>color</key>
				<integer>6710886</integer>
				<key>align</key>
				<integer>2</integer>
			</dict>
			<key>h5</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>20</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>h4</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>22</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>h3</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>24</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>h2</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>26</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>h1</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>28</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>bullet</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>18</integer>
				<key>margin</key>
				<integer>14</integer>
				<key>indent</key>
				<integer>28</integer>
			</dict>
			<key>underline</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>18</integer>
			</dict>
			<key>italic</key>
			<dict>
				<key>font</key>
				<string>Helvetica-Oblique</string>
				<key>size</key>
				<integer>18</integer>
			</dict>
			<key>bold</key>
			<dict>
				<key>font</key>
				<string>Helvetica-Bold</string>
				<key>size</key>
				<integer>18</integer>
			</dict>
			<key>default</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>18</integer>
				<key>color</key>
				<integer>1118481</integer>
				<key>align</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>slides</key>
		<dict>
			<key>footer</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>24</integer>
				<key>color</key>
				<integer>6710886</integer>
				<key>align</key>
				<integer>2</integer>
			</dict>
			<key>h5</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>40</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>h4</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>42</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>h3</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>44</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>h2</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>46</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>h1</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>48</integer>
				<key>align</key>
				<integer>1</integer>
			</dict>
			<key>bullet</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>36</integer>
				<key>margin</key>
				<integer>20</integer>
				<key>indent</key>
				<integer>56</integer>
			</dict>
			<key>underline</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>36</integer>
			</dict>
			<key>italic</key>
			<dict>
				<key>font</key>
				<string>Helvetica-Oblique</string>
				<key>size</key>
				<integer>36</integer>
			</dict>
			<key>bold</key>
			<dict>
				<key>font</key>
				<string>Helvetica-Bold</string>
				<key>size</key>
				<integer>36</integer>
			</dict>
			<key>default</key>
			<dict>
				<key>font</key>
				<string>Helvetica</string>
				<key>size</key>
				<integer>36</integer>
				<key>color</key>
				<integer>1118481</integer>
				<key>align</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
